
.dashboard{
    overflow-y:auto;
    .bar{
        height: 4rem;
        @include flex(row,unset,center);
        padding: 0 1rem;
        border-bottom: 1px solid black;
        >input{
            margin-right:auto;
            @include inputStyle(100%,1rem 0);
        }
        >svg{
            font-size: 1.2rem;
            opacity: 0.7;
        }
        >img{
            border-radius: 50%;
            @include square(2rem);
        }
    }
    .widget-maker{
        @include flex(row,space-between,stretch,2rem);
        padding: 2rem 2rem 2rem 0;
        .widget{
            width: 16rem;
            background-color: white;
            box-shadow: 0 0 10px rgba(0,0,0,0.132);
            padding: 2rem;
            @include flex(row,space-between,stretch,0rem);
            border-radius: 10px;
            .widgetinfo{
                >p{
                    opacity: 0.7;
                    font-size: 0.7rem;
                }
                >h4{
                    font-size: 1.5rem;
               }
               >span{
                @include flex(row,unset,center,0.2rem);
               }
                
            }
            .widgetCircle{
                position: relative;
                @include square(5rem);
                border-radius: 50%;
                flex : none;
                display: grid;
                place-items: center;
                background-color: blueviolet;
                &::before{
                    content: "";
                    position: absolute;
                    @include square(4rem);
                    background-color: white;
                    border-radius: 100%;
                }
                span{
                    position: relative;
                }
            }
        }
       
    }
    .graphContainer { 
        @include flex(row,unset,unset,2rem);
        padding : 0 2rem 2rem 0;
        >div{
            background-color: white;
            border-radius: 10px;
        }
        .revenue{
            width: 100%;
            padding: 1rem 3rem;
            >h2{
                @include heading;
                text-align: centre;
                margin: 1rem 0 2rem 0.25rem;
            }
        }
        .inventory{
            width: 100%;
            max-width: 16rem;
            @include flex(column,centre,unset,0);
            padding-bottom: 2rem;
            >h2{
                @include heading;
                text-align: center;
                margin: 1.5rem 0 2rem rem; 
                text-align: center;
            }
            >div{
                overflow-y:auto;
                padding-left: 0.5 rem;
            }
            .items{
                width: 100%;
                @include flex(row,space-between);
                padding: 1rem;
                >h5{
                    letter-spacing: 1px;
                    font-weight: 300;
                }
                >div {
                   
                  
                    margin-left: auto;
                    margin-right: auto;
                    width: 6rem;
                    background-color: rgb(217, 217, 217);
                    border-radius: 20px;
                    height: 0.5rem;
                    flex: none;
                   
                    
                
                    >div {
                      border-radius: 20px;
                      height: 100%;
                      
                    
                    }
                  }
                  >span{
                   
                    font-size: 0.8rem;
                    font-weight: 700;
                  }
            }
        }
    }


    .transaction{
        display: flex;
        gap:2rem;
        padding: 0 2rem 2rem 0;
        height: 30rem;
        >div{
            background-color: white;
            box-shadow: 0px 10px 10px rgba(0,0,0,0.132);
            border-radius: 10px;
        }

        .gender{
            width: 100%;
            max-width: 20rem;
            padding: 1rem;
            position: relative;
            >h2{
                text-align: centre;
                margin: 1.5rem 0 2rem 0;
                @include heading;
            }
            >p{
                @include Pos;
                font-size: 2rem;
                color: rgba(0,0,0,0.634);
            }
        }

        .transactionBox{
            width: 100%;
            padding: 1rem;
            overflow-x: auto;
            >h2{
                margin : (1.5rem,0,0,0);
                @include heading
            }
        }

    }
}