.dashboardProductTable{
    background-color: white;
    padding: 2rem;
    overflow: auto;
    @include square(100%);
}
.addNewProduct{
   position:fixed;
   top: 2rem;
   right: 2rem;
   @include square(2.5rem);
   @include flex(row,center,center,0);
   background-color: red;
   color: white;
   border-radius: 50%;
   &:hover{
    opacity:0.8;
   }
}